
header canvas {
    position: absolute;
    margin: auto auto;
    z-index: -10;
    display: none;
    box-shadow: 0 0 45px 35px black inset;

}

/* switch */
.toggle-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.toggle-btn #checkbox {
    display: none;
  }
  
.toggle-btn .switch {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #92a347;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(133, 133, 133);
    box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
  }
  .toggle-btn .switch svg {
    width: 1.2em;
  }
  .toggle-btn .switch svg path {
    fill: rgb(235, 235, 235);
  }
  .toggle-btn #checkbox:checked + .switch {
    box-shadow: 0px 0px 1px var(--yellow) inset,
      0px 0px 2px var(--yellow) inset, 0px 0px 10px var(--yellow) inset,
      0px 0px 40px var(--yellow), 0px 0px 100px var(--yellow),
      0px 0px 5px var(--yellow);
    border: 2px solid #92a347;
    background: var(--yellow);
  }
  .toggle-btn #checkbox:checked + .switch svg {
    filter: drop-shadow(0px 0px 5px var(--yellow));
  }
  .toggle-btn #checkbox:checked + .switch svg path {
    fill: #92a347;
  }
  

  .anim-blackhole{
    position: fixed;
    top: 0;
    left: 0;
  }
  .blackhole {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
  }
  
  .secondin-one canvas {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
  }