*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-size: 10px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center top;
    background:linear-gradient(120deg,var(--blue),var(--yellow));
}
body::-webkit-scrollbar{
    width: 0px;
}
:root {
    --blurness: 10px;
    --main:#414932;
    --blue:rgba(56, 178, 176,.6);
    --yellow:rgb(255,252,82);
    --yellow_light:rgba(255,252,82,.2);
    --back:rgba(0,0,0,1);
}
/* navbar styling */

nav{
    width: 8em;
    background:linear-gradient(90deg,var(--blue),var(--yellow_light),transparent);
    backdrop-filter: blur(var(--blurness));
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}
.logo{
    padding-bottom: 1em;
}
.logo img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-top: 1em;
}
.link1,
.link2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .6s;
    transform: translateX(0%);
}
nav .link1 a,
nav .link2 a{
    padding: .5em;
    text-decoration: none;
    color: var(--main);
    font-weight: 700;
    font-size: 1.8em;
    transition: .4s;
}
nav .link1 a:active,
nav .link2 a:active{
    font-weight: 800;
    color: #7aaa1adc;
}
.link-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-btn .hemburger-close,
.link-btn .hemburger-open{
    width: 4em;
    height: 4em;
    cursor: pointer;
}
.hemburger-open{
    display: none;
}
.hemburger-close{
    display: block;
}
.link-time{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.link-time span{
    font-size: 3em;
    width: 100%;
    font-weight: 600;
    color: var(--main);
}
/* nav actions */

/* hero section starts */
.wrapper_all{
    width: 100vw;
    background:linear-gradient(120deg,var(--blue),var(--yellow)),url(../images/hero_sup.png); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-attachment: fixed;
}
.landing{
    width: 100%;
    min-height: 160vh;
    overflow-x: hidden;
}
.hero{
    width: 45vw;
    height: 160vh;
    backdrop-filter: blur(0);
    z-index: -100;
}
.intro{
    position: absolute;
    top: 15vh;
    right: 3em;
    padding-right: 2em;
}
.section-subheading,
.intro span {
    font-size: 6em;
    font-weight: 800;
    background: linear-gradient(90deg, var(--blue), var(--main));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}
.section-subheading{
    font-size: 4.5em;
}
.ul-interests{
    font-size: 2em;
    color: rgba(0, 0, 0, 1);
}
.intro p{
    font-size: 1.8em;
    width: 400px;
    background: linear-gradient(90deg, var(--blue), var(--main));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-weight: 700;
    padding-top: 2em;
}
.hero .blocks-contain{
    position: absolute;
    top: 60vh;
    right: 0;
}
.blocks{
    justify-content: right;
    padding-right: 2em;
    padding-bottom: 2em;
}
.custom-block {
    height: 100px;
    background-color: var(--back);
    margin-bottom: 10px;
    border-radius: 10px;
    backdrop-filter: blur(var(--blurness));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-block p{
    font-size: 2.5em;
    color: aliceblue;
    font-weight: 800;
    text-align: center;
}
.custom-block span{
    font-size: 3.5em;
    color: aliceblue;
    font-weight: 800;
}
.custom-block div{
    font-size: 1.8em;
    font-weight: 500;
    color:rgb(236, 236, 236)
}

/* projects */
