.bio{
    padding: 0 3em 0 8em;
    overflow: hidden;
}
.bio #section2{
    display: flex;
}
.bio .bio-content{
    background-color: var(--blacktheme);
    border-radius: 1em;
}
#profile{
    display: flex;
    align-items: right;
    flex-direction: column;
}
.profile-area{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--blacktheme);
    padding: 1em;
    border-radius: 1em;
}
#profile .avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-right: 1em;
}
.bio-content h2,
#profile h2{
    font-size: 4em;
    font-weight: 800;
    background: linear-gradient(90deg, var(--blue), var(--yellow));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}
.bio-content p{
    font-size: 1.4em;
    font-weight: 500;
    color: rgb(219, 219, 219);
}
#profile h3{
    font-size: 2em;
    font-weight: 500;
    color: rgb(219, 219, 219);
}
#profile .profile-text h3 a{
    color: #0d6efd;
    font-size: .8em;
    font-weight: 500;
}

.network-icon{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3em;
    list-style-type: none;
    background-color: var(--blacktheme);
    border-radius: .3em;
    margin-top: 5vh;
}

#about{
    padding-bottom: 8em;
}
/* news */
#News{
    margin: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-row{
    backdrop-filter: blur(--blurness);
    background-color: transparent;
    border-radius: 1em;
}
.news-heading{
    font-size: 6em;
    font-weight: 800;
    background: linear-gradient(120deg,var(--blue),var(--blue), var(--yellow),var(--yellow_light));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}
.news-content ul li{
    font-size: 1.4em;
    font-weight: 500;
    color: rgb(219, 219, 219);
}

.revealUp {
    opacity: 0;
    visibility: hidden;
}
.webbloglink{
    pointer-events: none !important;
    opacity: .5;
}