.contact{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    border-radius: 1em;
}
.contact .container{
    padding: 0;
    margin: 0;
}
.contact-map{
    display: flex;
    justify-content: center;
}

.section-heading{
    background-color: transparent;
    border-radius: 1em;
}
.section-heading h1{
    font-size: 6em;
    font-weight: 800;
    background: linear-gradient(30deg, var(--blue),var(--blue),var(--yellow), var(--main));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.contact .row{
    background-color: transparent;
    border-radius: 1em;
}
.fa-ul{
    font-weight: 500;
    color: aliceblue;
    font-size: 1.8em;
}
.fa-ul span{
    font-size: 1.4em;
    padding-right: 1em;
}
.map{
    overflow: hidden;
    height: 30em;
    border-radius: 1em;
}
.map iframe{
    z-index: 1000;
}
.contact-form{
    padding: 0 2em;
    z-index: 1000;
}
form .form-label{
    background-color: transparent;
    color: aliceblue;
    font-weight: 500;
    font-size: 1.4em;
}
form button{
    width: 10em;
    height: 3.5em;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: .4em;
    border: 1px solid aliceblue;
    border-radius: 1em;
    transition: .3s;
}
form button span{
    font-size: 1.8em;
    font-weight: 500;
    color: aliceblue;
}
form button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.contact legend{
    color: aliceblue;
}
.contact-icons{
    font-size: 2.5em;
}
.contact-detail{
    padding: 0 2em;
    z-index: 1000;
}
