{% extends 'partials/base.html' %}
{% load static %}

{% block content %}


    <div class="allin-one">

        <header class="landing container-fluid" id="Home" style="position: relative;">
            <!-- Hero section starts -->
            <div class="wrapper_all">

                <div class="hero" id="section1">

                    <div class="container blocks-contain">
                        <div class="row col-12 blocks">
                            {% for state in homestat %}
                            <div class="col-4 col-md-4 col-sm-4 col-lg-3">
                                <div class="custom-block">
                                    <span>{{state.projects}}</span>
                                    <div>Projects</div>
                                </div>
                                <div class="custom-block">
                                    <span>{{state.experience}}+ year</span>
                                    <div>Experience</div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 col-sm-4 col-lg-3">
                                <div class="custom-block">
                                    <span>{{state.clients}}+</span>
                                    <div>Clients</div>
                                </div>
                                <div class="custom-block">
                                    <p>{{state.field}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="hero-bio">
                        <div class="intro">
                            <span>Anurag Singh</span>
                            <div class="col-md-12">
                                <div class="section-subheading">Interests</div>
                                <ul class="ul-interests">
                                    {% for int in intrest %}
                                    <li>{{ int.content }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="bio">
                    <div class="row" id="section2">
                        <div id="profile" class="col-lg-5 col-md-5">
                            <div class="profile-area">
                                <img class="avatar avatar-circle revealUp" src="{% static 'assets/images/avatar.png' %}" alt="Anurag singh">
                                <div class="profile-text revealUp">
                                    <h2>Anurag Singh</h2>
                                    <h3>Electrical Engineering 2023-2027</h3>
                                    <h3>
                                        <a href="https://www.iiit-bh.ac.in/" target="_blank" rel="noopener">
                                            <span>International Institute Of Technology Bhubhneswar</span>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <ul class="network-icon revealUp" aria-hidden="true">
                                {% for cont in contact %}
                                <li>
                                    <a href="{{cont.contact_href}}" target="{{cont.target}}">
                                        <i class="{{cont.contactIcon_class}}"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <section id="about" class="col-lg-7 col-md-7">
                            <div class="container">
                                <div class="row">

                                    <div class="bio-content">
                                        <h2 class="revealUp">Biography</h2>
                                        <div class="article-style revealUp">
                                            <p>Welcome! I'm Anurag Singh, a driven individual from Maihar, Madhya
                                                Pradesh
                                                (485771). My educational journey led me through Simran School and Blue
                                                Bells
                                                for my 10th and 12th grades, respectively. Currently immersed in the
                                                world
                                                of Electrical Engineering at IIIT Bhubneshwar.</p>
                                            <p>Beyond the classroom, I've proven my mettle in hackathons, proudly
                                                achieving
                                                finalist status. My skills extend to web development, where I've
                                                contributed
                                                to the success of college fests. Whether crafting innovative solutions
                                                in
                                                hackathons or bringing digital magic to college events, I'm passionate
                                                about
                                                making a meaningful impact.</p>
                                            <p>Join me on this exciting journey where my blend of technical prowess and
                                                creative energy converges to create memorable experiences and solutions.
                                            </p>
                                            <p class="revealUp" style="font-size: 2em;"><i
                                                    class="fas fa-download pr-1 fa-fw"></i>
                                                Download
                                                my
                                                {% for resu in biography %} 
                                                <a href="{{ resu.resume.url }}" target="_blank">résumé</a>.</p>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            <span class="shadowhr" style="padding: 0;position: absolute;bottom: 0;height: 10px;background-color: black;box-shadow: 0 0 50px 50px black;width: 100vw;"></span>
        </header>
        <!-- Hero section ends -->

        <div class="secondin-one">
            <div class="anim-blackhole" style="opacity: 1;">
                <div class="blackhole" id="particles-js"></div>
            </div>
                    <!-- about section starts -->
                    

                    <!-- timeline -->
                    <!-- popular topics -->
                    <div class="container-fluid topic-wrapper" id="section4" style="margin-top: 10em;">

                        <!-- Single "topic" Section -->
                        <section class="topic row-cols-1">
                            <div class="topic-head revealUp">
                                <h1 class="topic-header text-center">Techs</h1>
                            </div>
                            <div class="topic-content row row-cols-3">

                                <!-- Web Stacks -->
                                {% for techs in techstack %}
                                <div class="col col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <div class="card h-100">
                                        <div class="card-title text-center revealUp">{{ techs.description }}</div>
                                        <div class="card-body revealUp">
                                            {% for tlang in techs.techlang.all %}
                                            <span class="icon"><i class="{{ tlang.language }}"></i></span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </section>

                    </div>

                    <div class="container-fluid projects-wrapper" id="section5" style="margin: auto;">
                        <div class="row justify-content-center" style="margin: 0;">
                            <div class="col-12 text-center prj-heading">
                                <h1 class="project-header">Projects</h1>
                                <div class="project-sorting">
                                    {% for pg in projectgenre %}
                                    <button style="z-index: 1000;" id="{{pg.genereId}}" onclick="{{pg.genereOnclick}}" class="sort-btn"><span>{{pg.genereName}}</span></button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <section class="projects">
                            <div class="row projects-row col-12 col-md-12" id="projects-container" style="margin: 0;">
                                {% for prj in prj_mod %}
                                <div class="g-3 col-lg-4 col-md-6" data-category="{{ prj.prjGen.first.genereName }}">
                                    <div class="card">

                                        <a class="preview-project" target="_blank"
                                            href="{{prj.webLink}}">
                                            <div class="lesgo"></div><img src="{{prj.projectImage.url}}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title"><img src="{{prj.projectLogo.url}}" alt=""
                                                    class="project-logo">{{prj.projectName}}
                                                <a target="_blank"
                                                    href="{{prj.projectGit}}"><i
                                                        class="fa-brands fa-github"></i></a>
                                                <a target="_blank" href="{{prj.webLink}}"><i
                                                        class="fa-solid fa-share-from-square"></i></a>
                                            </h5>
                                            <p class="card-text">
                                            <ul>
                                                <li>{{ prj.projectAbout }}</li>
                                                <span class="techs">
                                                    {% for prjbtn in prj.projectlang.all %}
                                                    <button class="tech-button">{{prjbtn.language}}</button>
                                                    {% endfor %}
                                                </span>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div id="pagination-container"></div>
                        </section>
                    </div>

                </div>
    </div>


    {% endblock content %}