{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" id="News" style="margin-top: 5em;">

    <div class="row news-row col-md-12" id="section3" style="margin: 0;">
        <div class="section-heading text-center">
            <h1 class="mb-0 news-heading">Timeline</h1>
        </div>
        <div class="news-content" style="padding: 0;">
            <div class="container" style="padding: 0;">
                <div class="wrapper">
                    <ul class="sessions">
                        {% for line in timeline %}
                        <li>
                            <div class="time">{{line.dateAndTime}}</div>
                            <p>{{line.contentStart}}<a
                                    href="{{ line.readContentURL }}"> {{ line.contentMid }} </a>
                                {{ line.contentEnd }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}