asgiref==3.9.1
beautifulsoup4==4.13.4
diff-match-patch==20241021
dj-database-url==3.0.1
Django==5.2.4
django-appconf==1.1.0
django-cockroachdb==5.2
django-compressor==4.5.1
django-htmlmin==0.11.0
django-import-export==4.3.8
django-jazzmin==3.0.1
djangorestframework==3.16.0
greenlet==3.2.3
gunicorn==23.0.0
html5lib==1.1
packaging==25.0
pillow==11.3.0
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
python-dotenv==1.1.1
rcssmin==1.1.2
rjsmin==1.2.2
six==1.17.0
soupsieve==2.7
SQLAlchemy==2.0.41
sqlalchemy-cockroachdb==2.0.3
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.14.1
tzdata==2025.2
webencodings==0.5.1
whitenoise==6.9.0
