asgiref
beautifulsoup4
diff-match-patch
dj-database-url
Django
django-appconf
django-cockroachdb
django-compressor
django-htmlmin
django-import-export
django-jazzmin
greenlet
gunicorn
html5lib
packaging
pillow
psycopg-binary
psycopg2-binary
python-dotenv
rcssmin
rjsmin
six
soupsieve
SQLAlchemy
sqlalchemy-cockroachdb
sqlparse
tablib
typing_extensions
tzdata
webencodings
whitenoise
