asgiref==3.7.2
beautifulsoup4==4.12.3
diff-match-patch==20230430
dj-database-url==2.1.0
Django==4.2.9
django-appconf==1.0.6
django-cockroachdb==4.2
django-compressor==4.5.1
django-htmlmin==0.11.0
django-import-export==4.1.1
django-jazzmin==2.6.0
greenlet==3.0.3
gunicorn==21.2.0
html5lib==1.1
packaging==23.2
pillow==10.2.0
psycopg-binary==3.1.18
psycopg2-binary==2.9.9
python-dotenv==1.0.1
rcssmin==1.1.2
rjsmin==1.2.2
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.29
sqlalchemy-cockroachdb==2.0.2
sqlparse==0.4.4
tablib==3.5.0
typing_extensions==4.10.0
tzdata==2024.1
webencodings==0.5.1
whitenoise==6.6.0
