{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anurag Singh</title>
    <link rel="icon" href="images/avatar.png">

    <!-- cdn links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css.map">
    <!-- custom css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <link rel="stylesheet" href="{% static 'assets/style/anim.css' %}">

    <link rel="stylesheet" href="{% static 'assets/style/about.css' %}">
    <link rel="stylesheet" href="{% static 'assets/style/other.css' %}">
    <link rel="stylesheet" href="{% static 'assets/style/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/style/responsive.css' %}">


</head>

<!-- body area start-->

<body>

    {% block content %}


    {% endblock content %}


</body>
<!-- body area end -->

<!-- cdn bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
    integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

<!-- gsap library js -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

<!-- jquery js -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- anim webgl js -->
<script id="2d-fragment-shader" type="x-shader/x-fragment">
// <![CDATA[

    #ifdef GL_ES
    precision mediump float;
    #endif
    
    #define PI 3.14159265359
    
    uniform sampler2D u_image;
    varying vec2 v_texCoord;
    
    uniform vec2 u_resolution;
    uniform vec2 u_mouse;
    uniform float u_mass;
    uniform float u_time;
    uniform float u_clickedTime;
    
    vec2 rotate(vec2 mt, vec2 st, float angle){
        float cos = cos((angle + u_clickedTime) * PI); // try replacing * 1.0 with * PI
        float sin = sin(angle * 0.0); // try removing the * 0.0
        
        // Uncomment these two lines for realism
        //float cos = cos(angle) * (u_time * 0.3);
        //float sin = sin(angle) * (u_time * 0.3);
        
        float nx = (cos * (st.x - mt.x)) + (sin * (st.y - mt.y)) + mt.x;
        float ny = (cos * (st.y - mt.y)) - (sin * (st.x - mt.x)) + mt.y;
        return vec2(nx, ny);
    }
    
    void main() {
        vec2 st = vec2(gl_FragCoord.x, u_resolution.y - gl_FragCoord.y)/u_resolution;
        vec2 mt = vec2(u_mouse.x, u_resolution.y - u_mouse.y)/u_resolution;
    
        float dx = st.x - mt.x;
        float dy = st.y - mt.y;
    
        float dist = sqrt(dx * dx + dy * dy);
        float pull = u_mass / (dist * dist);
        
        vec3 color = vec3(0.0);
        
        vec2 r = rotate(mt,st,pull);
        vec4 imgcolor = texture2D(u_image, r);
        color = vec3(
            (imgcolor.x - (pull * 0.25)),
            (imgcolor.y - (pull * 0.25)), 
            (imgcolor.z - (pull * 0.25))
        );
        
    
        gl_FragColor = vec4(color,1.);
    }
    // ]]>
</script>
<script id="2d-vertex-shader" type="x-shader/x-vertex">// <![CDATA[
    attribute vec2 a_position;
    attribute vec2 a_texCoord;
    
    varying vec2 v_texCoord;
    void main() {
        gl_Position = vec4(a_position, 0, 1);
        v_texCoord = a_texCoord;
    }
    // ]]>
</script>

<script id="universe-anim" async src="{% static 'assets/script/anim1.js' %}"></script>
<script id="universe-anim" async src="{% static 'assets/script/anim.js' %}"></script>

<!-- custom js -->
<script src="{% static 'assets/script/script.js' %}"></script>

</html>